<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>404 - 闲言轻博客</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/layui/css/layui.css">
	<link rel="stylesheet" href="/css/mian.css">
</head>
<body class="lay-blog">
<div th:insert="~{head :: head}"></div>
<div class="container-wrap">
	<div class="container">
		<div class="contar-wrap">
			<div style="padding: 150px 0 50px; text-align: center; font-size: 30px; color: #ccc; font-weight: 300;">
				心姐抛出了个 404
			</div>
		</div>
	</div>
</div>
<div th:insert="~{foot :: foot}"></div>
<script src="/layui/layui.js"></script>
<script>
	layui.config({
		base: '/js/'
	}).use('blog');
</script>
</body>
</html>